@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Righteous&display=swap');
*{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	font-family: sans-serif;
	box-sizing: border-box;
}
:root{
	--white: #fff;
	--transition: all 0.3s ease-in;
	--font: 'Righteous', cursive;;
}
/*body{
	background-color: #9bf6ff;
}*/
html{
	font-size: 62.5%;
}
html::-webkit-scrollbar{
	width: 1.5rem;
}
html::-webkit-scrollbar-track{
	background-color: black;
}
html::-webkit-scrollbar-thumb{
	background-color: var(--white);
}
/*HEADING START*/
header{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1.2rem 7%;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	position: absolute;
	box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}
.logo{
	font-size: 1.8rem;
	border: 2px solid black;
	padding: 10px;
	font-family: 'Righteous', cursive;
}
.logo{
	color: black;
}
.logo i{
	color: #9a031e;
}
header ul{
	display: flex;
	align-items: center;
	justify-content: center;
}
header ul li{
	margin-left: 2.5rem;
}
header ul li a{
	font-size: 1.8rem;
	color: black;
	position: relative;
	font-family: 'Righteous', cursive;
}
header ul li a::after{
	content: '';
	width: 0%;
	height: 2px;
	top: 21px;
	left: 1px;
	position: absolute;
	background-color: #9b2226;
	transition: all 0.3s linear;
}
header ul li a:hover::after{
	width: 100%;
}
#menu{
	font-size: 1.8rem;
	display: none;
}
.fa-times{
	transform: rotate(180deg);
}
.nav-toggle{
	left: 0;
}
/*HEADING ENDS*/

/*HOME PAGE STARTS*/
main{
	min-height: 100vh;
	padding: 0 7%;
	padding-top: 9rem;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.content-1{
	flex: 1 1 40rem;
}
.content-1 h1{
	font-size: 3rem;
	letter-spacing: 1.8px;
	font-family: 'Righteous', cursive;
	padding-bottom: 20px;
}
.content-1 p{
	font-size: 1.4rem;
	font-weight: 700;
	letter-spacing: 1.3px;
	font-family: 'Open Sans', sans-serif;
	padding-bottom: 15px;
}
.content-1 button{
	padding: 9px;
	font-family: 'Righteous', cursive;
	border: 1px solid black;
	border-radius: 10px;
	transition: 0.3s;
}
.content-1 button:hover{
	background-color: #9b2226;
	color: white;
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}
.image-1{
	flex: 1 1 40rem;
	padding-right: 40px;
}
.image-1 img{
	float: right;
	width: 70%;
}
/*HOME PAGE ENDS*/

/*ABOUT PAGE STARTS*/
.about{
	min-height: 30vh;
	padding: 0 7%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}
.about-1, .about-2, .about-3{
	flex: 1 1 40rem;
}
.about-1{
	display: flex;
}
.left{
	margin-right: 5px;
}
.about-1 h1{
	font-size: 2rem;
	letter-spacing: 1.8px;
	font-family: 'Righteous', cursive;
	padding-bottom: 10px;
}
.about-1 p{
	font-size: 1.4rem;
	font-weight: 300;
	line-height: 25px;
	letter-spacing: 1.3px;
	font-family: 'Open Sans', sans-serif;/*
	padding-left: 31px;*/
}
.about-1 i{
	color: #9b2226;
	padding-right: 5px;
	font-size: 2.9rem;
}
/*ABOUT SPAGE ENDS*/

/*SHOP starts*/
.shop{
	min-height: 80vh;
	padding: 0 7%;
	padding-top: 9rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
	text-align: center;
}
.shop-1{
	box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
	max-width: 380px;
	flex: 1 1 40rem;
	transition: all 0.3s ease-in;
	background-color: #f0efeb;
}
.shop-1 p{
	font-size: 1.5rem;
	font-weight: 700;
}
.shop-1 button{
	margin-top: 10px;
	font-family: var(--font);
	margin-bottom: 10px;
	padding: 10px;
	border: 1px solid transparent;
	border-radius: 10px;
	background-color: #fca311;
}
.shop-1:hover{
	transform: translatey(-10px);
}
.shop-1 button:hover{
	background-color: black;
	color: #fca311;
}
.shop-1 img{
	width: 70%;
}
/*shop ends*/

/*NEW-ARRIVALS start*/
.new{
	min-height: 100vh;
	padding: 0 7%;
	padding-top: 9rem;
}
.new h1{
	text-align: center;
	font-family: var(--font);
	font-size: 3rem;
	position: relative;
}
.new .line::before{
	content: '';
	width: 60px;
	height: 2px;
	background-color: #001219;
	position: absolute;
    top: 49%;
    right: 470px;
    bottom: 0;
}
.new .line::after{
	content: '';
	width: 60px;
	height: 2px;
	background-color: #001219;
	position: absolute;
    top: 49%;
    left: 470px;
    bottom: 0;
}
.new-arrivals{
	margin-top: 50px;
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	flex-wrap: wrap;
	text-align: center;
}
.new-1{
	max-width: 250px;
	flex: 1 1 20rem;
}
.new-1 img{
	width: 80%;
	height: 300px;
	margin-bottom: 20px;
}
.new-1 img:hover{
	transform: scale(1.06);
	transition: var(--transition);
}
.new-1 h1{
	font-family: var(--font);
	font-size: 2rem;
	margin-bottom: 8px;
}
.new-1 p{
	font-weight: 500;
	font-size: 1.5rem;
}
.f1{
	margin-left: 4px;
}
.fas{
	padding-bottom: 10px;
	color: #bee1e6;
}
.fas:hover{
	color: #e63946;
}



/*new-arrivals ends*/















/*MEDIA QUERIES*/
@media (max-width: 991px){
	html{
		font-size: 68%;
	}

}
@media screen and (max-width: 991px){
	#menu{
		display: block;
		cursor: pointer;
	}
	header nav{
		position: fixed;
		top: 7rem; left: 120%;
		height: 100%;
		width: 100%;
		background-color: #9bf6ff;
		transition: all 0.3s linear;
	}
	header nav ul{
		flex-flow: column;
		padding: 2rem;
	}
	nav ul li{
		text-align: center;
		width: 100%;
		margin: 1rem 0;
	}
	.home{
		text-align: center;
	    padding: 0 6%;
    	padding-top: 9rem;
	}
	.content-1{
		padding-bottom: 1rem;
	}
	.image-1 img{
		width: 50%;
	}
	.about-1, .shop-1{
		margin: 0 6%;
		margin-bottom: 40px;
	}
	.new-1{
		margin-bottom: 20px;
	}
}